<!DOCTYPE html>
<html lang="en">
<head>
<title>Freelance Matching System Admin</title>
<%include partials/template/headlink.ejs %>
<style>
/*
  align the text to center
*/
.table td {
 text-align: center;
}

</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">

</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="/admin">Freelance Matching System Admin</a></h1>
</div>
<!--close-Header-part-->


<!--top-Header-menu-->
<%include partials/template/topHeaderMenu.ejs %>
<!--close-top-Header-menu-->

<!--start-top-serch-->
<%include partials/template/searchBar.ejs %>
<!--close-top-serch-->


<!--sidebar-menu-->
<%include partials/template/sidebarMenu.ejs %>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">

<!--breadcrumbs navigation-->
<div id="content-header">
  <div id="breadcrumb">
    <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <a href="/readUser" title="Go to Read User" class="tip-bottom"><i class="icon-user"></i> Read User</a>
  </div>
</div>
<!--End-breadcrumbs navigation-->

<!-- write your container here -->


<div class="content-fluid">
  <% if (error && error.length > 0){%>
    <div class="alert alert-error alert-block"> <a class="close" data-dismiss="alert" href="#">×</a>
      <h4 class="alert-heading">Error!</h4><%=error%>
    </div>
  <% } else if (success && success.length > 0) {%>
  <div class="alert alert-success alert-block"> <a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Success!</h4><%=success%>
  </div>
  <% }%>
  <div class="row-fluid">
    <div class="span1">
    </div>
    <!-- end of span 1 -->
    <div class="span10">
      <div class="widget-box">
        <div class="widget-title">
          <span class="icon"><i class="icon-bookmark"></i></span>
          <h5>Read All User Information</h5>
        </div>
        <!-- end of widget title -->
        <div class="widget-content nopadding">
          <table class="table table-bordered data-table" id="user-table">
            <thead>
              <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Country</th>
                <th>Balance</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
            <%  users.forEach(function(user){  %>
                <tr data-userid="<%= user._id %>">
                  <td><%= user.username %></td>
                  <td><%= user.firstName %></td>
                  <td><%= user.lastName %></td>
                  <td><%= user.email %></td>
                  <td><%= user.country %></td>
                  <td><%= user.balance%></td>
                  <td><a href="/admin/updateUser/<%= user._id %>" class="btn btn-block btn-inverse" id="editUser">Edit</button></td>
                  <td><button type="button" class="btn btn-block btn-inverse btn-delete" data-target="#delete" data-toggle="modal">Delete</button></td>
                </tr>
            <%  }); %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end of widget box -->
    </div>
    <!-- end of span 10 -->
    <div class="span1">
    </div>
    <!-- end of span 1 -->
  </div>



  <!-- Modal -->
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="/admin/readUser?_method=DELETE" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="color:red">DO YOU STILL WANT TO DELETE?</h4>
          </div>
          <div class="modal-body">
            <h5><strong>THE DELETE OPERATION CAN'T RECOVER</strong></h5>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="user_id" id="user_id">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<!-- end of content-fluid -->



<!-- end of your container here -->

</div>
<!--end-main-container-part-->

<!--Footer-part-->
<footer>
<%include partials/template/footer.ejs %>
</footer>

<!--end-Footer-part-->
<script src="/js/admin/jquery.min.js"></script>
<script src="/js/admin/jquery.ui.custom.js"></script>
<script src="/js/admin/bootstrap.min.js"></script>
<script src="/js/admin/jquery.uniform.js"></script>
<script src="/js/admin/select2.min.js"></script>
<script src="/js/admin/jquery.dataTables.min.js"></script>
<script src="/js/admin/matrix.js"></script>
<script src="/js/admin/matrix.tables.js"></script>
<script src="/js/maintainUser.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>

</body>
</html>
