<html>
   <head>
      <% include ../partials/head %>
      <title>My Info | ECJob</title>
      <link rel="stylesheet" type="text/css" href="../stylesheet/form.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">
      <link rel="stylesheet" type="text/css" href="../stylesheet/dashboard.css">
      </link>
   </head>
   <body>
      <header>
         <% include ../partials/header %>
      </header>
      <main>
         <div class="container" style="margin-top: 150px;">
         <div class="row row-eq-height">
            <% include ./partials/navigation %>
            <div class="col-xs-9">
               <h2 class="sub-header">Personal Infomation</h2>
               <small>You can update the personl information here.</small>
               <hr>
               <form class="form-horizontal div-content" action="/dashboard/my-info?_method=PUT" method="POST" id="signup-form">
                  <% if (error && error.length > 0){%>
                  <div class="alert alert-danger">
                     <strong>Error!</strong> <%=error%>
                  </div>
                  <% } else if (success && success.length > 0) {%>
                  <div class="alert alert-success">
                     <strong>Success!</strong> <%=success%>
                  </div>
                  <% }%>
                  <div class="form-group has-feedback">
                     <div class="col-md-4">
                        <label class="control-label" for="first_name">User Type:</label>
                        <p>Your User Type</p>
                     </div>
                     <div class="col-sm-8">
                        <label style="padding-top: 15px;"><%=currentUser.type %></label>
                     </div>
                  </div>
                  <hr>
                  <!-- Username -->
                  <div class="form-group has-feedback">
                     <div class="col-md-4">
                        <label class="control-label" for="username">Username:</label>
                        <p>Your Username</p>
                     </div>
                     <div class="col-sm-8">
                        <label style="padding-top: 15px;"><%=currentUser.username %></label>
                     </div>
                  </div>
                  <hr>
                  <!-- First Name -->
                  <div class="form-group has-feedback">
                     <div class="col-md-4">
                        <label class="control-label" for="first_name">First Name:</label>
                        <p>Enter First Name</p>
                     </div>
                     <div class="col-sm-8">
                        <input type="text" class="form-control input-lg" name="user[firstName]" value="<%= currentUser.firstName %>" id="first_name" placeholder="Enter First Name">
                     </div>
                  </div>
                  <hr align="left">
                  <!-- Last Name -->
                  <div class="form-group has-feedback">
                     <div class="col-md-4">
                        <label class="control-label" for="last_name">Last Name:</label>
                        <p>Enter Last Name</p>
                     </div>
                     <div class="col-sm-8">
                        <input type="text" class="form-control input-lg" name="user[lastName]" value="<%= currentUser.lastName %>" id="last_name" placeholder="Enter Last Name">
                     </div>
                  </div>
                  <hr align="left">
                  <!-- Country -->
                  <div class="form-group has-feedback">
                     <div class="col-md-4">
                        <label class="control-label" for="country">Country:</label>
                        <p>Select Country</p>
                     </div>
                     <div class="col-sm-8">
                        <select class="form-control input-lg bfh-countries" name="user[country]" value="<%= currentUser.country %>" id="country" data-country="HK"></select>
                     </div>
                  </div>
                  <hr align="left">
                  <!-- Email -->
                  <div class="form-group has-feedback">
                     <div class="col-md-4">
                        <label class="control-label" for="email">Email:</label>
                        <p>Enter Email</p>
                     </div>
                     <div class="col-sm-8">
                        <input type="text" class="form-control input-lg" id="email" name="user[email]" value="<%= currentUser.email %>" placeholder="Enter email">
                     </div>
                  </div>
                  <hr>
                  <input type="hidden" name="username" value="<%= currentUser.username%>" >
                  <div class="form-group has-feedback">
                     <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-primary btn-lg">Update</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </main>
      <footer>
         <% include ../partials/footer %>
      </footer>
      <script>
         $(".selection").removeClass("selection-active");
         $(".selection:eq(0)").addClass("selection-active");
      </script>
      <script src="../js/dashboard.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
   </body>
</html>